# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Hardhat artifacts y cachés
artifacts/
cache/
typechain/
coverage/
coverage.json

# Environment
.env

# Logs
*.log

# Compilaciones temporales
dist/
build/

# VSCode
.vscode/
